<!DOCTYPE html>
<html lang="en">
<% let capitalize=(text)=> { return text.replace(/(^\w|\s\w)/g, o =>
  o.toUpperCase()) } %>

  <head>
    
  </head>
 
  <body>
      <table 
      style="
      font-size: 18px;
      padding: 30px !important;
      background-color: rgb(248, 248, 248);
      width: 600px !important;"
       role="presentation"
      align="center" role="presentation">
        <tbody>
          <tr>
            <td >
                <img src="<%= logoUrl %>" alt="Image" width="100%" height="auto" />
            </td>
          </tr>
          <tr  style="padding: 0 30px 30px 30px !important;">
            <td>
            <h3>Dear <strong>
                <%= capitalize(fullName)%>,
              </strong></h3>
            <p>
              Congratulations and welcome to AllMasters! We are pleased to inform you that your application for registration has been successfully completed.
            </p>
            <p>Please find below the One-Time Password (OTP) needed to verify your account.</p>
            <p ><strong>OTP</strong></p>
            <p ><strong>
                <%=otp%>
              </strong></p>
            <p>Use the following link to verify your account. 
              <a
              href="<%= url %>"
              target="_blank"
              rel="noopener noreferrer"
              >Click Here</a></p>
            <p>
              For further assistance, kindly reach out to our Onboarding Team on
              <strong>obt1@allmasters.ai, obt2@allmasters.ai</strong>
            </p>
            <p>Regards,</p>
            <p><strong>AllMasters</strong></p>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>